.header 
  &__top
    display: flex
    justify-content: space-between

  &__title
    color: green

  &__menu
    display: flex
    justify-content: flex-start


    &__item
      color: black
      margin: 10px 5px
      font-style: none
      text-decoration: none
